<html>
<head>
	<meta charset="UTF-8"/>
	<title>Click war</title>
	<link rel="stylesheet" href="/styles/main.css">

</head>
<body >
	<div id="app" v-bind:class="team">
		<button v-if="!teamNotChosen" v-on:click="backToSelect" class="btn back-btn">x</button>
		<div v-if="teamNotChosen"class="team-pick-wrapper">
			<div class="select-modal">
				<div><h1 v-bind:class="teamHover">Choose your team</h1></div>
				<button class="btn select-btn team1" v-on:click="pickTeam(1)" v-on:mouseover="colorChange(1)">Green</button>
				<button class="btn select-btn team2" v-on:click="pickTeam(2)" v-on:mouseover="colorChange(2)">Blue</button>
				<button class="btn select-btn team3" v-on:click="pickTeam(3)" v-on:mouseover="colorChange(3)">Purple</button>
			</div>
		</div>
		<div class="btn-wrapper">
			<div class="team-score-holder">
				<div v-if="teamID != 0" class="team-score-title">TEAM SCORE</div>
				<div class="team-score-value">
					<h1 v-if="teamID === 1">{{ team1Score }}</h1>
					<h1 v-else-if="teamID === 2">{{ team2Score }}</h1>
					<h1 v-else-if="teamID === 3">{{ team3Score }}</h1>
				</div>
			</div>
			<button v-on:click="increment" class="btn clicker-btn">{{counter}}</button>
		</div>
	</div>
</body>

<script src="/scripts/Vue.js"></script>
<script src="/scripts/vue-resource.min.js"></script>
<script src="/scripts/main.js"></script>

</html>
