body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0; }
  body .btn {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    outline: none;
    position: relative;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
  body .back-btn {
    position: absolute;
    padding: 5px 8px;
    margin: 10px; }
  body .teamGreen {
    background-color: #2EC4B6; }
    body .teamGreen .btn {
      background: #74d7cd;
      box-shadow: 0 8px #39746e; }
      body .teamGreen .btn:hover {
        box-shadow: 0 6px #39746e;
        top: calc(-50% + 2px); }
      body .teamGreen .btn:active {
        box-shadow: 0 0 #39746e;
        top: calc(-50% + 6px); }
    body .teamGreen .back-btn {
      box-shadow: 0 6px #39746e; }
      body .teamGreen .back-btn:hover {
        box-shadow: 0 5px #39746e;
        top: 1px; }
      body .teamGreen .back-btn:active {
        box-shadow: 0 0 #39746e;
        top: 6px; }
    body .teamGreen .btn-wrapper .team-score-holder .team2 {
      background: #20A4F3; }
    body .teamGreen .btn-wrapper .team-score-holder .team3 {
      background: #973FDB; }
    body .teamGreen .btn-wrapper .team-score-holder .team-score-title {
      color: #39746e; }
  body .teamBlue {
    background-color: #20A4F3; }
    body .teamBlue .btn {
      background: #48b4f5;
      box-shadow: 0 8px #15699b; }
      body .teamBlue .btn:hover {
        box-shadow: 0 6px #15699b;
        top: calc(-50% + 2px); }
      body .teamBlue .btn:active {
        box-shadow: 0 0 #15699b;
        top: calc(-50% + 6px); }
    body .teamBlue .back-btn {
      box-shadow: 0 6px #15699b; }
      body .teamBlue .back-btn:hover {
        box-shadow: 0 5px #15699b;
        top: 1px; }
      body .teamBlue .back-btn:active {
        box-shadow: 0 0 #15699b;
        top: 6px; }
    body .teamBlue .btn-wrapper .team-score-holder .team1 {
      background: #2EC4B6; }
    body .teamBlue .btn-wrapper .team-score-holder .team3 {
      background: #973FDB; }
    body .teamBlue .btn-wrapper .team-score-holder .team-score-title {
      color: #15699b; }
  body .teamPurple {
    background-color: #973FDB; }
    body .teamPurple .btn {
      background: #bc84e8;
      box-shadow: 0 8px #6e2ea0; }
      body .teamPurple .btn:hover {
        box-shadow: 0 6px #6e2ea0;
        top: calc(-50% + 2px); }
      body .teamPurple .btn:active {
        box-shadow: 0 0 #6e2ea0;
        top: calc(-50% + 6px); }
    body .teamPurple .back-btn {
      box-shadow: 0 6px #6e2ea0; }
      body .teamPurple .back-btn:hover {
        box-shadow: 0 5px #6e2ea0;
        top: 1px; }
      body .teamPurple .back-btn:active {
        box-shadow: 0 0 #6e2ea0;
        top: 6px; }
    body .teamPurple .btn-wrapper .team-score-holder .team1 {
      background: #2EC4B6; }
    body .teamPurple .btn-wrapper .team-score-holder .team2 {
      background: #20A4F3; }
    body .teamPurple .btn-wrapper .team-score-holder .team-score-title {
      color: #6e2ea0; }
  body .none {
    background-color: #ccc; }
  body #app .team-pick-wrapper {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; }
    body #app .team-pick-wrapper .select-modal {
      background: #ffffff;
      padding: 50px;
      padding-top: 30px;
      border-radius: 5px;
      position: relative;
      top: -3%; }
      @media screen and (max-width: 768px) {
        body #app .team-pick-wrapper .select-modal {
          padding: 20px;
          padding-top: 30px; } }
      body #app .team-pick-wrapper .select-modal h1 {
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0; }
        @media screen and (max-width: 768px) {
          body #app .team-pick-wrapper .select-modal h1 {
            font-size: 1.5em; } }
      body #app .team-pick-wrapper .select-modal .team-green-hover {
        color: #2EC4B6; }
      body #app .team-pick-wrapper .select-modal .team-blue-hover {
        color: #20A4F3; }
      body #app .team-pick-wrapper .select-modal .team-purple-hover {
        color: #973FDB; }
      body #app .team-pick-wrapper .select-modal .select-btn {
        font-size: 12px;
        text-align: center;
        display: inline-block;
        position: relative;
        margin: 8px 15px 15px 15px;
        height: 30px;
        width: 60px; }
        @media screen and (max-width: 768px) {
          body #app .team-pick-wrapper .select-modal .select-btn {
            height: 50px;
            width: 75px;
            margin: 8px 10px 10px 10px; } }
        body #app .team-pick-wrapper .select-modal .select-btn:hover {
          top: calc(-50% + 2px); }
        body #app .team-pick-wrapper .select-modal .select-btn:active {
          top: calc(-50% + 6px); }
      body #app .team-pick-wrapper .select-modal .team1 {
        background: #74d7cd;
        box-shadow: 0 8px #39746e; }
        body #app .team-pick-wrapper .select-modal .team1:hover {
          box-shadow: 0 6px #39746e;
          top: 2px; }
        body #app .team-pick-wrapper .select-modal .team1:active {
          box-shadow: 0 0 #39746e;
          top: 6px; }
      body #app .team-pick-wrapper .select-modal .team2 {
        background: #48b4f5;
        box-shadow: 0 8px #15699b; }
        body #app .team-pick-wrapper .select-modal .team2:hover {
          box-shadow: 0 6px #15699b;
          top: 2px; }
        body #app .team-pick-wrapper .select-modal .team2:active {
          box-shadow: 0 0 #15699b;
          top: 6px; }
      body #app .team-pick-wrapper .select-modal .team3 {
        background: #bc84e8;
        box-shadow: 0 8px #6e2ea0; }
        body #app .team-pick-wrapper .select-modal .team3:hover {
          box-shadow: 0 6px #6e2ea0;
          top: 2px; }
        body #app .team-pick-wrapper .select-modal .team3:active {
          box-shadow: 0 0 #6e2ea0;
          top: 6px; }
  body #app .btn-wrapper {
    height: 100%;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body #app .btn-wrapper .team-score-holder {
      text-align: center;
      -webkit-box-flex: 1;
      -webkit-box: 1;
      -ms-flex: 1;
      flex: 1; }
      body #app .btn-wrapper .team-score-holder .team-score-title {
        font-size: 12px;
        margin-top: 10px; }
      body #app .btn-wrapper .team-score-holder .enemy {
        padding: 5px;
        display: inline-block;
        color: #ffffff;
        min-width: 75px; }
      body #app .btn-wrapper .team-score-holder .enemy1 {
        border-radius: 5px 0 0 5px; }
      body #app .btn-wrapper .team-score-holder .enemy2 {
        border-radius: 0 5px 5px 0; }
      body #app .btn-wrapper .team-score-holder .team-score-value h1 {
        font-size: 32px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        display: inline-block;
        min-width: 100px; }
    body #app .btn-wrapper .clicker-btn {
      font-size: 20px;
      text-align: center;
      top: -50%;
      margin: 15px 30px;
      height: 50px;
      min-width: 120px; }
      @media screen and (max-width: 768px) {
        body #app .btn-wrapper .clicker-btn {
          height: 100px;
          top: -40%;
          min-width: 150px; } }
      body #app .btn-wrapper .clicker-btn:hover {
        top: calc(-50% + 2px); }
        @media screen and (max-width: 768px) {
          body #app .btn-wrapper .clicker-btn:hover {
            top: calc(-40% + 2px); } }
      body #app .btn-wrapper .clicker-btn:active {
        top: calc(-50% + 6px); }
        @media screen and (max-width: 768px) {
          body #app .btn-wrapper .clicker-btn:active {
            top: calc(-40% + 6px); } }

/*# sourceMappingURL=main.css.map */
